<p><%= link_to t(".start"), new_game_path %></p>
<p><%= link_to t(".join"), new_join_path %></p>

<ul>
  <% @games.each do |game| %>
    <li>
      <%=
        button_to "Game #{game.id} (#{game.state})",
          game_join_path(game),
          method: :put
        %>
    </li>
  <% end %>
</ul>
