<li class="masked-card" id="<%= masked_card %>" draggable="true">
  <%= form.radio_button :source, "#{masked_card}-in-#{pile}" %>
  <%= form.label :source, value: "#{masked_card}-in-#{pile}" do %>
    Unknown card
  <% end %>
</li>
