body {
  background-color: #fdf498;
  font-family: sans-serif;
}

.pile {
  border-radius: 5px;
  padding: 0.5em;
}

.pile__hand {
  background-color: #fdf8c1;
  border: 5px solid #b1aa6a;
}

.pile__hand__yours {
  grid-area: your-hand;
}

.pile__hand__theirs {
  grid-area: their-hand;
}

.pile__board {
  background-color: #fdf8c1;
  border: 5px solid #b1aa6a;
}

.pile__board__yours {
  grid-area: your-board;
}

.pile__board__theirs {
  grid-area: their-board;
}

.pile__deck {
  background-color: #fdf8c1;
  border: 5px solid #b1aa6a;
  grid-area: deck;
}

.pile__discard {
  background-color: #fdf8c1;
  border: 5px solid #b1aa6a;
  grid-area: discard;
}

ul.cards {
  list-style-type: none;
  padding-left: 0;
}

.game_form {
  display: grid;
  grid-template-areas:
    "their-hand their-board their-board their-board"
    "discard deck your-hand your-hand"
    "your-board your-board your-board your-board";
  grid-gap: 1em;
  align-items: start;
}

.card__neutral {
  background-color:  white;
}

.card__us {
  background-color: #0392cf;
}

.card__ussr {
  background-color: #ee4035;
}

.card__name {
  grid-area: name;
  font-weight: bold;
  font-size: larger;
}

.card__type {
  grid-area: type;
  height: 10px;
  width: 10px;
}

.card__charge {
  grid-area: charge;
  font-size: larger;
}
.card__ability {
  grid-area: ability;
  font-family: serif;
}

.card__image {
  grid-area: image;
}

.cards__stack .card {
  width: 200px;
  height: 323px;
  border: 5px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.cards__spread .card {
  width: 200px;
  height: 323px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.cards__mask .card, .cards__count .card {
  width: 200px;
  height: 323px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.card__details {
  display: grid;
  grid-template-areas:
    "charge image"
    "type image"
    "name name"
    "ability ability";
  grid-gap: 1em;
  align-items: start;
}

.cards__count .count-card {
  width: 188px; // 200 - 12
  height: 315px; // 323px - 12
  display: inline-block;
  border: 5px solid black;
  border-radius: 5px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  background-color: grey;
  padding-left: 12px;
  padding-top: 12px;
}

.cards__count .card, .cards__count .masked-card {
  margin-left: -160px;
  margin-top: 1em;
}

.cards__mask .masked-card, .cards__count .masked-card {
  width: 200px;
  height: 323px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 5px;
}

.cards__mask .masked-card {
  margin-left: 0.5em;
}

.masked-card label {
  opacity: 0;
}

.masked-card + .masked-card {
  margin-left: -190px;
}

.drop-target {
  border: 5px dashed #7bc043;
}

.drop-over {
  background-color: grey;
}

.drag-target {
  opacity: 0.5;
}

a {
  color: black;
}
